@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,600;0,700;1,400;1,600&display=swap');

//Fonts
$font-main: 'Poppins', sans-serif;

//Colors
$color-linear: linear-gradient(to right, #24243e, #302b63, #0f0c29);
$primary: white;
$secondary: #dddddd;
$tertiary: black;